<app-card>
  <!-- Adding eventlistener from angular using () and attching to ts file -->
  <button [class.active]="selected" (click)="onSelectUser()">
    <!-- property binding from ts to template, happended with [] with src -->
    <!-- we are using a getter names imagePath defined in ts logic to compute the file path and paste here insted of a sting poperation in HTML file -->
    <img [src]="imagePath" [alt]="user.name" />
    <!-- string interpolation binding from ts to template -->
    <span>{{ user.name }}</span>
  </button>
</app-card>

<!-- While it might look like you're binding the src attribute of the <img> tag,
 you're actually NOT doing that.
 Instead, property binding targets the underlying DOM object property (which, in this case, also happens to be called src) and binds to that. -->
